* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
    :root {
        --bg-color: #ffffff;
        --ext-color: #000000;
        --main-color: #f0f0f0;
        --other-color: #ffc633;
        --second-color: #616060;

        --h1-font: 5.5rem;
        --h2-font: 3.5rem;
        --p-font: 1rem;



    }

body{
    background-color: var(--bg-color);
    color:var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 /5%);
    padding: 5px 10%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    transition: all .6s;
}
   .logo{
    font-size: 33px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
    .navlist{
        display: flex;
        align-items:baseline;
   
    }
    
    .navlist a{
        display: inline-block;
        margin: 10px 30px;
        font-size: 20px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        color: var(--text-color);
        transition: all .6s;

    }

    .nav-right{
        display: flex;
        align-items: center;
    }
    .nav-right a{
    display: inline-block;
    font-size: 22px;
    color: var(--text-color);
     margin: 0 20px;
     transition: all .6s;
    
    }
    .nav-right a:hover{
        transform: translate(-5px) scale(1.1);

}
section{
    padding: 90px 14% 70px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(/Home-bg.jpg) no-repeat center center fixed; 
    min-height: 100%;
    background-size:100vw 450px;
    background-position:center;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text{
    position:static;
    padding: top 60px;
}
.home-text h1{
    line-height: 1.1;
    margin-bottom: 20px;

}
.home-text *p{
  width: 100%;
  max-width: 560px;
  font-size: var(--p-font);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--second-color);
   line-height: 33px;
  margin-bottom: 35px;

}

.container h2{
    
    text-align: center;
}




.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    align-items: center;
    /* border: 1px solid black; */
    
    gap: 2.5rem;
}

.test1-card{
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    background-color: #c3baba;
}
.test2-card{
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    background-color: #c3baba;
}


main{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px,auto));
    justify-content:space-between
}


@media  (max-width: 1610px){
     header{
        padding: 15px 7%;
     }
     section{
        padding: 70px 7% 80px;
     }
   
 
    .container{
        padding: 10px 7% 10px;
    }

    }
 
     /* .card-row img{
       margin-top: 20px;
        display: flex;
        flex-direction: row;
       align-items: center;
       justify-content: center;
    } */

  
  
    #typing-animation{
    border:1px solid rgb(235, 231, 231) ;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-size: large;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    
}
    
.Login{
     border: #000000;
}



/*  */
    @media screen and  (max-width: 600px){
          

          }

.card .des p{
        font-size: 16px;
        line-height: 1.5;
        padding: 0px 10px;
        margin-bottom: 20px;
        font-family: "Poppins", sans-serif;
    }





@media screen and  (max-width: 600px){
          
        .card {
            flex-direction: column;
        }
          }


    



/* /* .text-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  } */

/*.card-group{
    width: 100%;
    background: var(--bg-color);
    border: 1px solid black;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 /5%);
    margin: auto;
    padding: auto;
    display: flex;
     flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    gap: 40px;
    transition: all .6s;
}
.card img{
width: 100%;
height:auto;
}
  .card{
    display: flex;
    flex-wrap: wrap;
   align-items:center;
   justify-content: space-between;
   gap: 40px;
   transition: all .6s;
    border: 1px solid black;   
   
} 
/* .card-body{
    border: 1px solid black;.

} */

.learning h2{
    text-align: center;
  }
  .learning h4{
    text-align: center;
  }  
  
.box{
    margin: auto;
    padding: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
    transition: all .6s;
}

.btn{
    display: inline-block;
    padding: 10px 2px;
    background: var(--bg-color);
    color: var(--text-color);
    border: 2px solid transparent;
}
.btn:hover{
    transform: scale(0.9) translateX(-6px);
    border: 2px solid var(--text-color);
    background: rgb(219, 162, 16);
    color: var(--text-color);
}
.btn i{
    margin-left: 9px;
}
 
body{
    font-family: arial;
   }
   .main{
   
    margin: 2%;
   }
   
   .card{
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2%;
       }
   
   .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     
   
    
    }
   
   .title{
    
     text-align: center;
     padding: 10px;
     
    }
   
   h1{
     font-size: 20px;
    }
   
   .des{
     padding: 3px;
     text-align: center;
    
     padding-top: 10px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   button{
     margin-top: 40px;
     margin-bottom: 10px;
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
   }
   button:hover{
     background-color: black;
     color: white;
     transition: .5s;
     cursor: pointer;
   }


.footer{
        background-color: #FFF;
        position:fixed;
        bottom: 0px;
        width: 100%;
        text-align: center;
        }
